<ion-card [formGroup]="ticket">
  <ion-card-header>
    <ion-card-title>Ticket {{ index + 1 }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="form-control">
      <ion-input
        mode="md"
        label="Name"
        label-placement="floating"
        fill="outline"
        formControlName="name"
      ></ion-input>

      <app-form-error-messages
        [control]="ticket.controls.name"
      ></app-form-error-messages>
    </div>

    <div class="form-control">
      <ion-input
        mode="md"
        label="Email"
        label-placement="floating"
        fill="outline"
        formControlName="email"
      ></ion-input>

      <app-form-error-messages
        [control]="ticket.controls.email"
        [customErrors]="{
          duplicateEmail: '¡Este correo electrónico está duplicado!'
        }"
      ></app-form-error-messages>
    </div>
  </ion-card-content>
</ion-card>
