<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>
    <ion-title>Template Driven</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-control">
      <ion-input
        mode="md"
        label="Email"
        name="email"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="email"
        #emailEl="ngModel"
        required
        email
      ></ion-input>

      <div class="error-messages" *ngIf="emailEl.errors && f.submitted">
        <span *ngIf="emailEl.errors.required">Campo requerido</span>
        <span *ngIf="emailEl.errors.email"
          >El campo debe ser un email válido</span
        >
      </div>
    </div>

    <div class="form-control">
      <ion-input
        mode="md"
        label="Password"
        name="password"
        label-placement="floating"
        fill="outline"
        ngModel
        #password="ngModel"
        required
      ></ion-input>

      <div class="error-messages" *ngIf="password.errors && f.submitted">
        <span *ngIf="password.errors.required">Campo requerido</span>
      </div>
    </div>

    <ion-button type="submit" expand="block" shape="round"> Entrar </ion-button>
  </form>
</ion-content>
